#!/usr/bin/make -f

PACKAGE = $(shell dh_listpackages)
TMP     = $(CURDIR)/debian/$(PACKAGE)

%:
	dh $@ --with quilt

override_dh_auto_install:
	dh_auto_install
	rm $(TMP)/usr/share/man/man3/Net::Amazon::EC2::*.3pm
	rm $(TMP)/usr/share/perl5/Net/Amazon/._EC2.pm
