#!/usr/bin/make -f

build: build-stamp
build-stamp:
	dh build
	touch $@

clean:
	dh $@

install: install-stamp
install-stamp: build-stamp
	dh install
	# remove broken sub-module manpages
	$(RM) debian/libnet-amazon-ec2-perl/usr/share/man/man3/Net::Amazon::EC2::*.3pm.gz
	touch $@

binary-arch:

binary-indep: install
	dh $@

binary: binary-arch binary-indep

.PHONY: binary binary-arch binary-indep install clean build
